
bootstrap_url: http://<bootstrap_public_ip>:<your_port>
cluster_name: '<cluster-name>'
exhibitor_storage_backend: static
ip_detect_filename: /genconf/ip-detect
master_discovery: static
master_list:
- <master-private-ip-1>
- <master-private-ip-2>
- <master-private-ip-3>
resolvers:
- 8.8.4.4
- 8.8.8.8
use_proxy: 'true'
http_proxy: http://<your_http_proxy>/
https_proxy: https://<your_https_proxy>/
no_proxy: 
- '*.int.example.com'